* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: aliceblue;
}

header {
    background-color: rgb(10, 24, 10);
    text-align: center;
}

h1 {
    color: rgb(2, 2, 2);
    display: inline-block;
    padding: 20px;
    border-style: hidden;
    border-radius: 50%;
    background-color: bisque;
}

h2 {
    text-align: center;
}

p.bio {
    padding: 5px;
    text-align: justify;
    border-style: solid;
    border-color: rgb(10, 10, 10);
}

p.ver_mais {
    float: right;
}

body {
    background-color: rgb(61, 96, 78);
}

article {
    padding: 5px;
    padding-bottom: 25px;
    text-align: justify;
    color: white;
    border-color: black;
    border-style: dashed;
}

img {
    padding-bottom: 20px;
    width: 300px;
    height: auto;
}

.foto-produto{
    display: flex;
    justify-content: center;
    align-items: center;
}